version: "3.8"

services:
  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    depends_on:
      - auth
      - ai
      - projects
      - export

  auth:
    build: ./services/auth-service
    environment:
      - PORT=4001

  ai:
    build: ./services/ai-service
    env_file:
      - .env
    environment:
      - PORT=4002


  projects:
    build: ./services/project-service
    env_file:
      - .env
    environment:
      - PORT=4003

  export:
    build: ./services/export-service
    ports:
      - "4004:4004"
    environment:
      - PORT=4004
